h1 {
    font-weight: 300;
    font-family: Roboto, sans-serif;
    text-align: center;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3d3d3;
    border-collapse: collapse;
}

th {
    height: 2rem;
    text-align: left;
    color:#1db954;
    background-color:#d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5em 
}
 
tr, td {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5em;
}

img {
    width: 100px;
    height: 100px;
}

tr:nth-child(even) {
    background-color: #eee;
}

/*
tr:nth-child(2n+1) {
    background-color: #eee;
}

or 

tr:nth-child(odd) {
    background-color: #eee;
}

*/

tbody:hover tr:hover {
    background-color: pink;
}